NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://ebenezer-motors:i2L5YOJ73y4ShGy0@ebenezer-motors.eofl0sa.mongodb.net/
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d
ADMIN_REGISTRATION_KEY=change-me
CORS_ORIGIN=http://localhost:5173
STORAGE_DRIVER=s3
S3_REGION=auto
S3_BUCKET=ebenezer-motors
S3_ACCESS_KEY_ID=b9495c521302ec07c57fb2e5a60f1550
S3_SECRET_ACCESS_KEY=7209de14592ae46d24172eef4a63e83c5eef5be2f22e935039b3ed0caf8cc0e6
S3_ENDPOINT=https://f214bef9cabde92f5b98bc11abca491a.r2.cloudflarestorage.com
S3_PUBLIC_BASE_URL=https://pub-b5971c79e1e94217b4847709c2e51781.r2.dev
S3_FORCE_PATH_STYLE=true
LOCAL_UPLOAD_DIR=uploads
LOCAL_PUBLIC_BASE_URL=/uploads
